@use 'variaveis';

.hero {
    padding: 3vh 5.6vw 5.6vw 5.6vw;    
    min-height: 80vh;
    background-image: url(/src/images/hero_desktop.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;

    &__content {
        max-width: 175px;
        text-align: center;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(0.80);

        &__branding {
            max-width: 85px;
            margin-bottom: 4px;
            
            img {
                display: block;
                width: 100%;
            }
        }

        .title--small {
            margin-bottom: 12px;
            font-size: 13px;
            line-height: 18px;
            white-space: nowrap;
        }

        p {
            margin-bottom: 1px;
            font-size: 9px;
            line-height: 13px;

            &:last-child {
                margin-top: 20px;
                white-space: nowrap;
            }
        }

        .link-text {
            font-size: 10px;
        }

        &__combos {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 12px;
            margin-bottom: 4px;

            &__combo {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;

              img {
                max-height: 40px;
                margin-bottom: 8px;
              }

              button {
                display: inline-block;
                width: auto;
                height: auto;
                padding: 6px 20px;
                margin-bottom: 8px;
                font-size: 10px;
                color: variaveis.$corTextoSecundario;
                background-color: #6421ff;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                white-space: nowrap;
              }
              
              .text {
                margin-top: 0;
              }
            }
        }

        .text {
            font-size: 10px;
            margin-top: 1px;
            line-height: 13px;
            display: block;
        }
    }
}
