@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vh;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        list-style: none;

        &--is-active {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }

        &__item {
            img {
                max-width: 100%;
                width: 100%;
                height: auto;
                border-radius: 4px;
                object-fit: cover;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px; 
            border: none;
            padding: 5px 0;
            background: none;
            text-transform: uppercase; 
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
        }

        &__button--is-active {
            border-color: variaveis.$corTextoSecundario;
        }
    }
}
