@use 'hero';
@use 'shows';
@use 'variaveis';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
        
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}


body{
    background-color: variaveis.$corDeFundo;    
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($font-size:28px) {
    @include text($font-size);  
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);    
}

.text {
    @include text(16px);    
}

.text--small {
    @include text;
}

.title--big {
    @include title(32px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(8px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button {
    display: inline-block;
    width: auto;
    padding: 8px 24px;
    height: auto;
    margin-bottom: 8px;
    font-size: 14px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}